footer {
    background-color: #509BF5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    text-align: center;
    color: white;
    line-height: 1.6;
    padding: 2vh;
}

@media only screen and (max-width: 360px) {
    .footer-content {
        font-size: 4vw;
    }
 
}