footer {
    background-color: #509BF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.footer-content {
    text-align: center;
    color: white;
    line-height: 1.6;
}