#main-cadastroVaga {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#permissao{
    width: 400px;
    height: 40px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 20px 0px;
    display: flex;
}

.alinhar-cadastroVaga{
        align-items: center;
        justify-content: center;
        display: flex;
}

.container-all{
    display: flex;
    flex-direction: row;
    align-items: center;
}
  

.label-cadastroVaga{
   height: 2vh;
}


.centro h1{
    justify-self: center;
    font-size: 30px;
}

form h1{
    margin: 40px;
    color:#635D5D;
}
