.alinhar{
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: teal;
}
.container-geral{
    display: flex;
    flex-direction: row;
}
.esquerda{
    width: 50%;
}
.esquerda img{
    width: 60%;
    height: 90%;
}
.direita{
    width: 50%;
    background-color: wheat;
    justify-content: center;
}
.direita h1{
    justify-self: center;
}
form{
    background-color: teal;
}
form h1{
    margin: 10px;
    color:#635D5D;
}