* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
}

.padrao-input {
    display: flex;
    flex-direction: column;
}

.padrao-input .label {
    margin-bottom: 4px;
}

.padrao-input .input {
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.button {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #FF0000;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

