

.main-cadastroAluno {
  height: 90vh;
}

.center h1 {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  font-size: 24px;
  font-weight: bold;
  color: #292929;
}

.row-cadastrarAluno {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 8vh;
}

.row-cadastrarAluno label {
  font-size: 16px;
}

.row-cadastrarAluno input {
  width: 250px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #000;
}
.btn{
  margin-bottom: 10vh;
}