.container-dashboard {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 7vh;
}

.linha-dashboard {
    width: 460px;
}

.linha-central {
    height: 44px;
    transform: rotate(90);
    border: 1px solid #000;
    margin-bottom: 8vh;
}

.container-dashboard h2 {
    font-size: 24px;
    margin-bottom: 1vh;
}

.container-dashboard .contrato h2 {
    display: flex;
    justify-content: center;
}

.container-dashboard .empresas h2 {
    display: flex;
    justify-content: center;
}

.contrato .linha-dashboard {
    border: 4px solid #000;
}

.empresas .linha-dashboard {
    border: 4px solid #000;
}

.row-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-dashboard .dados-empresa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-dashboard .dados-empresa .apresentacao {
    width: 344px;
    height: 78px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    margin-left: 5vh;
}

.row-dashboard .dados-empresa .contato {
    width: 10vw;
    height: 78px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    margin: 0vh 5vh 0vh 5vh;
    text-align: center;
}

.row-dashboard .dados-empresa .contato h3 {
    display: flex;
    justify-content: center;
}

.row-dashboard .dados-empresa .apresentacao h3 {
    display: flex;
    justify-content: center;
}

.row-dashboard .dados-empresa .apresentacao p {
    text-align: center;
}

.row-dashboard .dados-empresa .logos-dashboard .logo-dashboard {
    width: 2vw;
    height: 2vw;
}

.logo {
    width: 90%;
}

.row-dashboard .botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2.8vh;
}

.row-dashboard .botoes .aceitar .button {
    width: 125px;
    height: 30px;
    background-color: #509BF5;
    margin-bottom: 1vh;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: bold;
}

.row-dashboard .botoes .recusar .button {
    width: 125px;
    height: 30px;
    background-color: #ff0000;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: bold;
}

.try {
    display: flex;
    justify-content: center;
}

.divisoria {
    display: flex;
    justify-content: center;
    border: 1px solid #509BF5;
    margin-bottom: 10vh;
    width: 920px;
}

.contrato {
    height: 7.5vh;
}

.contrato:hover {
    cursor: pointer;
    color: #509BF5;
}

.empresas {
    height: 7.5vh;
}

.empresas:hover {
    cursor: pointer;
    color: #ff0000;
}

.hidden {
    visibility: hidden;
}

/**********************************
            Contrato
**********************************/

.flex {
    display: flex;
    justify-content: center;
    margin-top: -300px;
}

.contratos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 125px;
    align-items: center;
    justify-content: space-between;
    width: 910px;
}

.contratos h3 {
    font-size: 14px;
    margin-top: 1.2vh;
}

.contratos p {
    font-size: 12px;
    margin-top: 1.2vh;
}

.contratos .cpf-aluno, .curso, .inicio, .termino, .status {
    width: 118px;
    height: 76px;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contratos .logo-dashboard {
    width: 154px;
    height: 91px;
}

.botoes .aceitar .button:hover {
    cursor: pointer;
    color: #D9B26C;
}

.botoes .recusar .button:hover {
    cursor: pointer;
}

/**********************************
            Clicked
**********************************/

.linha-clicked {
    width: 470px;
    border: 4px solid #509BF5;
}

.h2 {
    color: #509BF5;
}

.bottom {
    margin-top: 300px;
}

.try-it {
    margin-top: 300px;
}