.padrao-input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label-inputComponent {
    margin-bottom: 3px;
}

.input-component{
    border-radius: 5px;
    width: 10vw;
    background-color: white;
    padding-left: 3px;
    border: 1px solid #292929;
}