.center-adm h1 {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    font-size: 24px;
    font-weight: bold;
    color: #292929;
}

.row-adm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-adm {
    display: flex;
    flex-direction: column;
    padding: 8vh;
}

.row-adm label {
    font-size: 16px;
}

.row-adm input {
    width: 250px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #000;
}