#main-home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#homeH1 {
    margin-bottom: 7vh;
    font-size: 2.5vw;
}

.row-home {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.quadrado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 18.333333333333332vw;
    height: 39.06083244397012vh;
    margin: 6.4vh 10vh 6.4vh 10vh;
    border-radius: 4px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 50px 35px 1px -10px #509BF5;
    box-shadow: 50px 35px 1px -10px #509BF5;
}

.quadrado .button {
    border: 0;
    height: 5vh;
    width: 13vw;
    font-size: 1.4vw;
}

.div-imgCandidato {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgCandidato {
    display: flex;
    width: 10vw;
    margin-bottom: 3vh;
}

.div-imgEmpresa {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgEmpresa {
    display: flex;
    width: 10vw;
    height: 10vw;
    margin-bottom: 3vh;
}

.link-home {
    text-decoration: none;
}

@media only screen and (max-width: 1064px) {
    .quadrado {
    width: 450px;
    height: 300px;
    }
 
}