*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #509BF5;
    width: 100%;
    height: 85px;
}
nav{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
}
.logos{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logos img{
    width: 50%;

}
.navigation {
    width: 50%;    
}
.navigation .lista{
    width: auto;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation .lista li{
    margin: 5%;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: bold;
}

@media only screen and (max-width: 360px) {
    .logos img{
        width: 110%;
    
    }

    .lista li{
        font-size: 15px;
    }
}
 

